@charset "UTF-8";

@import "base/base";
@import "img";
$font_size : 75;

@function rem($pixels){
    @return $pixels / $font_size + rem;
}

.hide{
    display: none;
    opacity: 0;
    pointer-events: none;
    width: 0 !important;
    height: 0 !important;
}

.disable{
    pointer-events: none;
}
body {
    font: $b-font-weight #{$b-font-size}/#{$b-line-height} $b-font-family;
    color: $c-text;
    a {
        text-decoration: none;
        color: nth($c-link, 1);
        &:hover {
            text-decoration: underline;
            color: nth($c-link, 2);
        }
    }
}
.page-tips-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .tips-icon{
        position: absolute;
        width: rem(220);
        top: rem(280);
        left: 50%;
        margin-left: rem(-110);
    }
    .tips-note{
        position: absolute;
        top: rem(580);
        left: 0;
        width: 100%;
        font-size: rem(32);
        color: #333;
        text-align: center;
        font-weight: bold;
    }
    .tips-bt{
        position: absolute;
        width: rem(420);
        height: rem(96);
        text-align: center;
        line-height: rem(96);
        background: url('../img/base64/tips-bt.png') no-repeat center top;
        background-size: 100% auto;
        top: rem(660);
        left: 50%;
        margin-left: rem(-210);
        font-size: rem(36);
        color: #fdfdfd;
        font-weight: bold;
    }
}
.gbuy-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &-mask{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
    }
    &-main{
        position: absolute;
        width: rem(611);
        height: rem(720);
        background: #2a2d42 url('../img/page/window-bg.png') no-repeat center top;
        background-size: 100% auto;
        top: 10%;
        left: 50%;
        margin-left: rem(-306);
    }
    .gbuy-wrap-main-title{
        position: absolute;
        font-size: rem(36);
        color: #f3d266;
        text-align: center;
        width: 100%;
        top: rem(30);
        left: 0;
        width: 100%;
    }
    .gbuy-wrap-main-cover{
        position: absolute;
        width: rem(136);
        top: rem(170);
        left: 50%;
        margin-left: rem(-68);
    }
    .gbuy-num{
        position: absolute;
        width: rem(56);
        height: rem(56);
        top: rem(373);
        &.plus{
            left: rem(180);
        }
        &.reduce{
            right: rem(180);
        }
        &.show{
            width: rem(144);
            height: rem(54);
            text-align: center;
            line-height: rem(54);
            font-size: rem(30);
            color: #313131;
            left: 50%;
            margin-left: rem(-72);
        }
    }
    .gbuy-close{
        position: absolute;
        width: rem(100);
        height: rem(100);
        right: 0;
        top: 0;
    }
    .gbuy-total{
        position: absolute;
        width: 100%;
        font-size: rem(44);
        color: #edca62;
        font-weight: bold;
        top: rem(475);
        left: 0;
        text-align: center;
    }
    .gbuy-buy{
        position: absolute;
        width: rem(410);
        height: rem(76);
        top: rem(576);
        left: 50%;
        margin-left: rem(-205);
        background: #2a2d42 url('../img/base64/sure-buy.png') no-repeat center top;
        background-size: 100% auto;
    }
}
.page-buy-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(1498);
    background: #2a2d42 url('../img/page/buy-bg.jpg') no-repeat center top;
    background-size: 100% auto;
    .page-buy-foot{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: rem(60);
        line-height: rem(60);
        background: #191949;
        color: #656597;
        font-size: rem(24);
    }
    .buy-main-list{
        position: absolute;
        width: rem(704);
        top: rem(590);
        left: 50%;
        margin-left: rem(-352);
        li{
            position: relative;
            width: rem(704);
            height: rem(144);
            line-height: rem(144);
            background: #2a2d42 url('../img/page/list-unit-bg.jpg') no-repeat center top;
            background-size: 100% auto;
            margin-top: rem(20);
            .bl-cover{
                position: absolute;
                width: rem(120);
                top: rem(16);
                left: rem(12);
            }
            .bl-name{
                position: absolute;
                font-size: rem(30);
                color: #f3d266;
                left: rem(168);
                top: rem(0);
            }
            .bl-bt{
                position: absolute;
                width: rem(180);
                height: rem(76);
                right: rem(22);
                top: rem(30);
                background: #2a2d42 url('../img/base64/buy-bt.png') no-repeat center top;
                background-size: 100% auto;
            }
        }
    }
}

.page-list-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2a2d42 url('../img/page/list-bg.jpg') no-repeat center top;
    background-size: 100% auto;
    .user-avatar{
        position: absolute;
        border: rem(4) solid #ffe36e;
        width: rem(115);
        height: rem(115);
        margin-left: rem(-60);
        left: 50%;
        top: rem(20);
        border-radius: 50%;
    }
    .user-name{
        position: absolute;
        top: rem(172);
        left: 0;
        width: 100%;
        text-align: center;
        font-size: rem(26);
        color: #FFF;
    }
    .user-gold{
        position: absolute;
        top: rem(200);
        left: 0;
        width: 100%;
        text-align: center;
        font-size: rem(72);
        color: #ffdb14;
        .small{
            font-size: rem(22);
        }
    }
    .list-bt{
        position: absolute;
        display: block;
        width: rem(282);
        height: rem(92);
        background: url('../img/base64/list-bt.png') no-repeat;
        background-size: 100% auto;
        top: rem(300);
        font-size: rem(36);
        color: #432600;
        line-height: rem(92);
        text-align: center;
        &.left{
            left: rem(60);
        }
        &.right{
            right: rem(60);
        }
    }
    .list-wrap{
        position: absolute;
        left: 0;
        width: 100%;
        top: rem(480);
        background: #333a66;
        &-nav{
            position: relative;
            height: rem(85);
            line-height: rem(85);
            &-unit{
                float: left;
                width: 50%;
                text-align: center;
                background: #3e4361;
                color: #7d8093;
                font-size: rem(35);
                border-bottom: rem(2) solid #4d5279;
                &.cur{
                    font-size: rem(35);
                    color: #FFF;
                    background: #333a66;
                    border-bottom: none;
                    border-left: rem(2) solid #4d5279;
                    border-right: rem(2) solid #4d5279;
                }
            }
        }
        .main-list{
            position: relative;
            overflow: hidden;
            width: 100%;
            li{
                position: relative;
                height: rem(105);
                line-height: rem(105);
                width: 100%;
                border-bottom: rem(2) solid #4d5279;
                span,a,img{
                    vertical-align: middle;
                }
            }
            .list-cz{
                display: inline-block;
                width: rem(420);
                font-size: rem(30);
                color: #FFF;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .list-gold{
                display: inline-block;
                font-size: rem(30);
                color: #ffc430;
                width: rem(180);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &.green{
                    color: #22ac38;
                }
            }
            .list-state{
                display: inline-block;
                width: rem(100);
                height: rem(40);
                line-height: rem(40);
                text-align: center;
                font-size: rem(24);
                &.wait{
                    border: rem(2) solid #a3a3a3;
                    color: #a3a3a3;
                }
                &.bt{
                    border: rem(2) solid #ebc55f;
                    background: #ebc55f;
                    color: #2a2d42;
                }
                &.done{
                    border: rem(2) solid #ebc55f;
                    color: #ebc55f;
                }
            }
            .list-avatar{
                display: inline-block;
                width: rem(65);
                height: rem(65);
                border-radius: 50%;
                margin-left:rem(45);
                border: 1px solid #ebc55f;
            }
            .list-name{
                display: inline-block;
                width: rem(460);
                font-size: rem(28);
                color: #FFF;
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-indent: rem(10);
            }
            .list-local{
                display: inline-block;
                font-size: rem(26);
                color: #616899;
            }
        }
    }
}

// Coding...